.form__submit {
  background-color: black;
  border: 0;
  border-radius: 2px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  line-height: 22px;
  margin: 0;
  margin-top: 18px;
  padding: 0;
  text-align: center;
  transition: opacity .3s ease-in-out;
}

.form__submit:hover {
  opacity: .8;
}

.form__submit:disabled {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  color: black;
  opacity: 0.2;
}

@media (max-width: 767px) {
  .form__submit {
    font-size: 14px;
    line-height: 17px;
  }
}
